h1 create new book
form(action="/books/create", method="POST")
    lable title
    input(name="title",typr="text")
    lable description
    input(name="description" type="text")
    button create
a(href="/books") back